body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(135deg, #e3f2fd, #ffffff);
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
